---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Blog from "@components/blog.astro";
import Testimonial from "@components/testimonial.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import heroImage from "assets/images/cherrydeck.png";
import { Icon } from "astro-icon";
---

<Layout title="">
  <div
    class="bg-[url('https://images.unsplash.com/photo-1682687219570-4c596363fd96?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] mx-auto bg-repeat-round">
    <div
      class="relative isolate px-8 py-14 lg:px-8 w-full h-full backdrop-brightness-50">
      <div class="mx-auto max-w-4xl py-16 sm:py-24 lg:py-28">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div
            class="relative font-semibold px-3 py-1 text-md leading-6 text-[#7BBB49]">
            CRAFTING FUTURE-READY SOLUTIONS
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-3xl font-bold tracking-tight text-white sm:text-3xl">
            Unleash Business's Potential : Next-Gen Solutions
          </h1>
          <p class="mt-6 text-lg leading-8 text-white">
            Unlock the full potential of tailored technology. Just as we
            architect bespoke solutions, your business not only adapts but
            thrives in dynamically evolving landscapes, surpassing every
            expectations.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href="#"
              class="flex items-center rounded-md bg-[#7BBB49] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#7BBB49] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:[#7BBB49]">
              Discover Tech Solutions
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 ms-2">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="bg-[#F4F4F4] py-4 px-6 lg:px-8">
      <div class="mx-auto max-w-7xl">
        <h2
          class="text-center text-[22px] font-semibold leading-8 text-gray-900">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr
        </h2>
        <div
          class="mx-auto grid grid-cols-4 items-center sm:grid-cols-6 lg:grid-cols-5">
          <!-- <Icon class="h-20 md:h-20 col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1" name="simple-icons:react" />
          <Icon class="h-20 md:h-20 col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1" name="simple-icons:react" />
          <Icon class="h-20 md:h-20 col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1" name="simple-icons:react" />
          <Icon class="h-20 md:h-20 col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1" name="simple-icons:react" />
          <Icon class="h-20 md:h-20 col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1" name="simple-icons:react" /> -->
          <img
            class="col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1"
            src="Images/1517260813937-removebg-preview.png"
            alt="SavvyCal"
          />
          <img
            class="col-span-2 max-h-[10rem] w-full object-contain lg:col-span-1"
            src="Images/KALYAN MATRIMONY LOGO FINAL-ai.png"
            alt="Tuple"
          />
          <img
            class="col-span-2 max-h-[5rem] w-full object-contain lg:col-span-1"
            src="Images/1200x627px-ogi-grant-thornton-bharat_purple_bg__1_-removebg-preview (1).png"
          />
          <img
            class="col-span-2 max-h-[10rem] w-full object-contain sm:col-start-2 lg:col-span-1"
            src="Images/1517260813937-removebg-preview.png"
            alt="SavvyCal"
          />
          <img
            class="col-span-2 max-h-[10rem] w-full object-contain lg:col-span-1"
            src="Images/KALYAN MATRIMONY LOGO FINAL-ai.png"
            alt="Tuple"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2 max-w-7xl mx-auto">
    <div class="mx-[2rem] lg:mx-[3rem] lg:px-14">
      <div
        class="flex grid grid-cols-1 pt-7 md:grid-cols-3 gap-6 -mx-1 lg:-mx-4">
        <div class="">
          <div class="overflow-hidden px-4 md:px-0 rounded-lg space-y-2">
            <div>
              <button
                class="text-[#7BBB49] rounded-lg text-[11px] lg:text-[13px] border border-[#7BBB49] whitespace-nowrap px-3 lg:px-5 py-2"
                >SUCCESS THROUGH INNOVATION</button
              >
            </div>
            <div>
              <p class="text-[#373737] text-[26px] font-bold">Lorem ipsum</p>
            </div>
            <div>
              <p class="text-[#7BBB49] text-[26px] font-bold">Lorem ipsum</p>
            </div>
            <div>
              <p class="text-[#808080] text-[15px] leading-[25px]">
                Discover a suite of meticulously crafted services and innovative
                products designed to elevate your business. From tailored
                solutions.
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <div
            class="overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <div class="relative">
              <img
                alt="Placeholder"
                class="block h-auto p-4 w-full"
                src="Images/unnamed (4).png"
              />
              <div
                class="bg-white -my-4 bottom-0 rounded-full justify-center items-center flex mx-[4rem] absolute w-[4rem] h-[4rem]">
                <div
                  class="rounded-full justify-center items-center flex absolute bg-[#7BBB494D] w-[3rem] h-[3rem]">
                  <img class="w-6 h-6" src="Images/Path 1539.png" />
                </div>
              </div>
            </div>
            <div class="space-y-1 px-4 leading-tight p-2 md:p-4">
              <p class="text-[#000000] font-bold text-[18px]">Services</p>
              <p class="text-[13px] text-[#000000] italic">
                Tailored Solutions for Your Success
              </p>
              <p class="text-[#707070] text-[14px] pt-3 leading-[25px]">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Lorem Ipsum is simply dummy text of the printing
                and typesetting industry.
              </p>
            </div>
            <footer
              class="flex items-center justify-between leading-none px-4 mb-5">
              <div class="flex items-center space-x-2" href="#">
                <a
                  class="text-[13px] items-center text-[#646464] font-bold flex gap-2 space-x-2">
                  Read more
                  <span>
                    <img class="w-4 h-4" src="Images/arrow (21)@2x.png" />
                  </span>
                </a>
              </div>
            </footer>
          </div>
        </div>
        <div class="">
          <div
            class="overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <div class="relative">
              <img
                alt="Placeholder"
                class="block h-auto p-4 w-full"
                src="Images/unnamed (3).png"
              />
              <div
                class="bg-white -my-4 bottom-0 rounded-full justify-center items-center flex mx-[4rem] absolute w-[4rem] h-[4rem]">
                <div
                  class="rounded-full justify-center items-center flex absolute bg-[#7BBB494D] w-[3rem] h-[3rem]">
                  <img class="w-6 h-6" src="Images/Product Icon (1).png" />
                </div>
              </div>
            </div>
            <div class="space-y-1 px-4 leading-tight p-2 md:p-4">
              <p class="text-[#000000] font-bold text-[18px]">Products</p>
              <p class="text-[13px] text-[#000000] italic">
                Innovative Solutions Redefining Standards
              </p>
              <p class="text-[#707070] text-[14px] pt-3 leading-[25px]">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Lorem Ipsum is simply dummy text of the printing
                and typesetting industry.
              </p>
            </div>
            <footer
              class="flex items-center justify-between leading-none px-4 mb-5">
              <div class="flex items-center space-x-2" href="#">
                <a
                  class="text-[13px] items-center text-[#646464] font-bold flex gap-2 space-x-2">
                  Read more
                  <span>
                    <img class="w-4 h-4" src="Images/arrow (21)@2x.png" />
                  </span>
                </a>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div> 

<!-- <Testimonial />  -->
<Blog /> 

</Layout>
