<!-- <footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
  </p> 
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer> -->
<footer class="bg-[#7BBB49]">
  <div class="max-w-7xl mx-auto px-6 py-4 md:flex md:items-center md:justify-between lg:px-8">
      <div class="md:order-1 md:mt-0">
          <p class="text-center text-xs text-white">Copyrights &copy; Recived Pranion Technology 2023</p>
      </div>
  </div>
</footer>