---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mb-2 max-w-7xl mx-auto">
  <div class="mx-[2rem] lg:mx-[3rem] lg:px-14">
    <div
      class="flex grid grid-cols-1 pt-7 md:grid-cols-3 gap-6 -mx-1 lg:-mx-4">
      <div class="">
        <div class="overflow-hidden px-4 md:px-0 rounded-lg space-y-2">
          <div>
            <button
              class="text-[#7BBB49] rounded-lg text-[11px] lg:text-[13px] border border-[#7BBB49] whitespace-nowrap px-3 lg:px-5 py-2"
              >SUCCESS THROUGH INNOVATION</button
            >
          </div>
          <div>
            <p class="text-[#373737] text-[26px] font-bold">Lorem ipsum</p>
          </div>
          <div>
            <p class="text-[#7BBB49] text-[26px] font-bold">Lorem ipsum</p>
          </div>
          <div>
            <p class="text-[#808080] text-[15px] leading-[25px]">
              Discover a suite of meticulously crafted services and innovative
              products designed to elevate your business. From tailored
              solutions.
            </p>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
          <div class="relative">
            <img
              alt="Placeholder"
              class="block h-auto p-4 w-full"
              src="Images/unnamed (4).png"
            />
            <div
              class="bg-white -my-4 bottom-0 rounded-full justify-center items-center flex mx-[4rem] absolute w-[4rem] h-[4rem]">
              <div
                class="rounded-full justify-center items-center flex absolute bg-[#7BBB494D] w-[3rem] h-[3rem]">
                <img class="w-6 h-6" src="Images/Path 1539.png" />
              </div>
            </div>
          </div>
          <div class="space-y-1 px-4 leading-tight p-2 md:p-4">
            <p class="text-[#000000] font-bold text-[18px]">Services</p>
            <p class="text-[13px] text-[#000000] italic">
              Tailored Solutions for Your Success
            </p>
            <p class="text-[#707070] text-[14px] pt-3 leading-[25px]">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Lorem Ipsum is simply dummy text of the printing
              and typesetting industry.
            </p>
          </div>
          <footer
            class="flex items-center justify-between leading-none px-4 mb-5">
            <div class="flex items-center space-x-2" href="#">
              <a
                class="text-[13px] items-center text-[#646464] font-bold flex gap-2 space-x-2">
                Read more
                <span>
                  <img class="w-4 h-4" src="Images/arrow (21)@2x.png" />
                </span>
              </a>
            </div>
          </footer>
        </div>
      </div>
      <div class="">
        <div
          class="overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
          <div class="relative">
            <img
              alt="Placeholder"
              class="block h-auto p-4 w-full"
              src="Images/unnamed (3).png"
            />
            <div
              class="bg-white -my-4 bottom-0 rounded-full justify-center items-center flex mx-[4rem] absolute w-[4rem] h-[4rem]">
              <div
                class="rounded-full justify-center items-center flex absolute bg-[#7BBB494D] w-[3rem] h-[3rem]">
                <img class="w-6 h-6" src="Images/Product Icon (1).png" />
              </div>
            </div>
          </div>
          <div class="space-y-1 px-4 leading-tight p-2 md:p-4">
            <p class="text-[#000000] font-bold text-[18px]">Products</p>
            <p class="text-[13px] text-[#000000] italic">
              Innovative Solutions Redefining Standards
            </p>
            <p class="text-[#707070] text-[14px] pt-3 leading-[25px]">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Lorem Ipsum is simply dummy text of the printing
              and typesetting industry.
            </p>
          </div>
          <footer
            class="flex items-center justify-between leading-none px-4 mb-5">
            <div class="flex items-center space-x-2" href="#">
              <a
                class="text-[13px] items-center text-[#646464] font-bold flex gap-2 space-x-2">
                Read more
                <span>
                  <img class="w-4 h-4" src="Images/arrow (21)@2x.png" />
                </span>
              </a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div> 


<!-- <div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div> -->
