---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="bg-[#7BBB49] absolute mx-auto bg-repeat-round">
  <div class="relative  px-8 py-7 lg:px-8 w-full h-full ">
      <div class="mx-auto max-w-4xl ">
          <div class="space-y-6 mb-[9rem] text-center">
              <button class="text-white  border border-white py-2 px-5 font-bold text-[13px] rounded-md">OUR
                  TESTIMONIALS</button>
              <p class=" text-[30px] leading-[38px] text-white font-bold">
                  We are delighted to receive feedback
                  <br>
                  from our clients
              </p>
              <p class="text-white text-[13px] ">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  <br>
                  Lorem Ipsum has been the industry's
              </p>
          </div>
      </div>



      <div class="hidden lg:block carousel ml-[3rem] mr-[5rem] bottom-[-9rem] absolute rounded-[17px] ">
          <div class="slides rounded-[17px] ">
              <div class="slide rounded-[17px] ">
                  <div class="max-w-lg mx-auto overflow-hidden rounded-[17px] shadow-lg lg:max-w-none lg:flex">
                      <div class="flex-1 px-6 py-5 bg-white lg:px-12">
                          <p class="mt-6 text-center text-[#000000] leading-[30px]">Lorem Ipsum is simply dummy
                              text of the printing and typesetting industry.
                              Lorem <br /> Ipsum has been the industry's standard dummy text ever</p>

                          <div class="mx-auto pt-7 py-2 ">
                              <div class="flex justify-center items-center gap-12 space-x-3">
                                  <img class="w-[7rem] h-[7rem]" src="Images/profilematch.png"
                                      alt="Profile Image">
                                  <div class="flex flex-col space-y-2 text-center justify-center">
                                      <p class="border-2 flex ml-[3rem] w-[5rem] border-[#7BBB49]"></p>
                                      <span class="text-[20px] font-bold text-[#000000]">Gokul</span>
                                      <p class="text-[15px] text-[#707070]"> CEO - Starhealth</p>
                                      <img class="h-6" src="Images/Repeat Grid 4.png" alt="Repeat Icon">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slide rounded-[17px] ">
                  <div class="max-w-lg mx-auto overflow-hidden rounded-[17px] shadow-lg lg:max-w-none lg:flex">
                      <div class="flex-1 px-6 py-5 bg-white lg:px-12">
                          <p class="mt-6 text-center text-[#000000] leading-[30px]">Lorem Ipsum is simply dummy
                              text of the printing and typesetting industry.
                              Lorem <br /> Ipsum has been the industry's standard dummy text ever</p>

                          <div class="mx-auto py-2 pt-7 px-20">
                              <div class="flex justify-center items-center gap-12 space-x-3">
                                  <img class="w-[7rem] h-[7rem]" src="Images/profilematch.png"
                                      alt="Profile Image">
                                  <div class="flex flex-col space-y-2 text-center justify-center">
                                      <p class="border-2 flex ml-[3rem] w-[5rem] border-[#7BBB49]"></p>
                                      <span class="text-[20px] font-bold text-[#000000]">Gokul</span>
                                      <p class="text-[15px] text-[#707070]"> CEO - Starhealth</p>
                                      <img class="h-6" src="Images/Repeat Grid 4.png" alt="Repeat Icon">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slide rounded-[17px] ">
                  <div class="max-w-lg mx-auto overflow-hidden rounded-[17px] shadow-lg lg:max-w-none lg:flex">
                      <div class="flex-1 px-6 py-5 bg-white lg:px-12">
                          <p class="mt-6 text-center text-[#000000] leading-[30px]">Lorem Ipsum is simply dummy
                              text of the printing and typesetting industry.
                              Lorem <br /> Ipsum has been the industry's standard dummy text ever</p>

                          <div class="mx-auto pt-7 py-2 ">
                              <div class="flex justify-center items-center gap-12 space-x-3">
                                  <img class="w-[7rem] h-[7rem]" src="Images/profilematch.png"
                                      alt="Profile Image">
                                  <div class="flex flex-col space-y-2 text-center justify-center">
                                      <p class="border-2 flex ml-[3rem] w-[5rem] border-[#7BBB49]"></p>
                                      <span class="text-[20px] font-bold text-[#000000]">Gokul</span>
                                      <p class="text-[15px] text-[#707070]"> CEO - Starhealth</p>
                                      <img class="h-6" src="Images/Repeat Grid 4.png" alt="Repeat Icon">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Add more slides as needed -->

          </div>
          <div class="flex pt-4 px-5 justify-between">
              <img onclick="prevSlide()" class="w-5 h-7 arrow left" src="Images/arrow right.png">
              <img onclick="nextSlide()" class="w-5 h-7 arrow right" src="Images/arrow (22).png">
          </div>
          <!-- <div class="arrow left" onclick="prevSlide()">&#9665;</div>
          <div class="arrow right" onclick="nextSlide()">&#9655;</div> -->
      </div>


  </div>
</div>


<!-- <div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div> -->
